@import "styles/colors.scss";

.user-editor {
  padding: 1rem;

  div:first {
    margin-top: 0;
  }

  label {
    font-size: 11px;
    font-weight: bold;
    color: $primary-color-light;
    text-transform: uppercase;
    text-align: left;
    margin-top: 1em;
  }

  p {
    color: $primary-color-light;
    font-size: 0.8em;
    margin-top: 0;
  }

  p.form-error {
    color: $color2;
  }
}

.user-saving {
  box-sizing: border-box;
  border: none;
  background: $color1;
  color: $color3;
  width: 100%;
  font-size: 18px;
  padding: 0.5em;
  font-weight: bold;
  z-index: 20;
}

.user-saved {
  box-sizing: border-box;
  border: none;
  background: $color3;
  color: $color5;
  width: 100%;
  font-size: 18px;
  padding: 0.5em;
  font-weight: bold;
  z-index: 20;
}
