@keyframes spin {
  100% {
    transform: scale(2, 2);
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $color2;
  }
  70% {
      box-shadow: 0 0 0 10px $color2;
  }
  100% {
      box-shadow: 0 0 0 0 $color2;
  }
}