$color1: rgba(90, 163, 168, 1);
$color2: rgba(255, 94, 94, 1);
$color3: rgba(198, 179, 219, 1);
$color4: rgba(247, 234, 234, 1);
$color5: rgba(247, 247, 242, 1);

$color1: rgba(184, 238, 234, 1);
$color2: rgba(255, 118, 132, 1);
$color3: rgba(39, 94, 132, 1);
$color4: rgba(247, 247, 243, 1);
$color5: rgba(255, 252, 249, 1);

// BG: #282a36

// Remove these
$primary-color-light: #9f9f9f;